@model IEnumerable<Learnera.Models.SubjectsDTO>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12">
        <table class="table mt-5" id="myTable" style="border: 1px solid gray">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>
                        Name
                    </th>
                    <th>
                        Professor
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.CheckBox("Add subject", item.isSelected)
                        </td>
                        <td>
                            @item.subject.Name
                        </td>
                        <td>
                            @item.subject.Professor
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<div class="row">
    <div class="col-3">
        <button class="btn btn-primary" onclick="saveButtonClicked()">Save</button>
    </div>
</div>


<script>
           var model = [];
           function saveButtonClicked() {
            //GET ALL SELECTED SUBJECTS
           $('#myTable input:checkbox:checked').each(function () {
               var rowId = $(this).parents("tr").children('td');
               var subject1 = rowId[1].innerText;
               var profesor = rowId[2].innerText;
               model.push({ "Name": subject1, "Professor": profesor });
            });
            debugger;
            $.ajax({
                url: "/Subjects/editSubjects",
                method: "POST",
                data: {
                    subject: model
                },
                success: function (data) {
                    debugger;
                    model = [];
                    $("html").html(data);
                }
            });

        };
</script>